h1 {
    color:rgb(217, 246, 88);
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(237, 237, 240), 0 0 0.2em blue;
}
body{
    background-color: #1806de;
}
h2{
    color:rgb(223, 238, 85);
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(237, 237, 240), 0 0 0.2em blue;
}
p{
    color:rgb(9, 16, 216);
    background-color: #cfd0e2;
}
ul{
    background-color: #cfd0e2; 
}